<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <link th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.js}"></script>

</head>

<body>
<nav class="navbar navbar-inverse">
    ...
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-1" onclick="refresh()">
            <button type="button" class="btn btn-success">测试</button>
        </div>
        <div class="col-md-11">
                <textarea id="sh" th:text="${name}">

                </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" onclick="beau()">
            <button type="button" class="btn btn-success">测试2</button>
        </div>
        <div class="col-md-11">
                <div id="b">

                </div>
        </div>
    </div>
</div>
</div>
</body>
<script type="text/javascript">
    function refresh(){
        //需要发送的数据
        var modeljson={
            "id": "1"
        }

        $.ajax({
            url: "/ajax",
            type: 'post',
            //contentType: 'application/json', //没规定就是默认的application/x-www-form-urlencoded; charset=UTF-8
            data: modeljson,  //要发的数据，如果出现格式问题则 JSON.stringify(modeljson)
            async: true,
            success: function(data){
                if(data != null){
                    $("#sh").val(data);
                }
            }
        });
    }


    function beau(){
        //需要发送的数据
        var modeljson={
            "id": "1"
        }

        $.ajax({
            url: "/beau",
            type: 'post',
            data: modeljson,  //要发的数据，如果出现格式问题则 JSON.stringify(modeljson)
            async: true,
            success: function(data){
                d = JSON.stringify(data)
                var jdata = JSON.stringify(JSON.parse(d), null, 4);
                console.log(jdata);//这是在输出框的json数据确实被格式话了
                $("#b").html("<pre>"+jdata+"</pre>" );

            }
        });
    }



</script>
</html>